*{
  font-family: 'Staatliches', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#errorBox{
  color: red;
}

.padding{
  height: 150vh;
}

.red {
  background-color: #ff4321;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-color{
  color: white;
}

.container{
  padding: 0px 10em;
}

input{
  border: 1px solid #2a2a2a;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

form{
  display: inline-flex;
}

.field{
  margin-right: 120px;
}
